* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

select,
input {
  border: none;
  outline: none;
}

.container {
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
